@page
@model AdminPanelMarket.Pages.product.IndexModel

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>

<p>
    <a asp-page="Create">Создать новый товар</a>
</p>
<div class="row">
    <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">🔍</span>
          <input type="text" class="form-control search-input" placeholder="Поиск...">
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Цена
            </th>
            <th>
                Бонус
            </th>
            <th>
                В продаже
            </th>
            <th>
                Подкатегория
            </th>
            <th>
                Категория
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)р
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubcategoryNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubcategoryNavigation.CategoryNavigation.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    $(".search-input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".table tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    // Если поле поиска пустое, показываем все записи
    $(".search-input").on("input", function() {
        if ($(this).val().trim() === "") {
            $(".table tr").show();
        }
    });
</script>
